/* 1. TOÀN BỘ @IMPORT PHẢI NẰM ĐẦU TIÊN */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";

/* 2. KHAI BÁO PLUGIN FLOWBITE */
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-react";

/* 3. KHAI BÁO MÀU CHỦ ĐẠO (TAILWIND V4) */
@theme {
  --color-flygold: #F5A21B;
  /* Màu vàng cam của Fly Visa */
  --color-flygold-hover: #D98C12;
  /* Màu đậm hơn khi hover chuột */
}

/* Tùy chỉnh thanh cuộn cho Column */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  /* Màu xám nhạt (Tailwind slate-300) */
  border-radius: 20px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  /* Tối hơn khi hover */
}